[submodule "MTB-plus-plus"]
	path = MTB-pipeline
	url = https://github.com/M-Serajian/MTB-Pipeline.git
[submodule "PatricBrowserTools"]
	path = PatricBrowserTools
	url = https://github.com/M-Serajian/PatricBrowserTools.git
