[submodule "MTB-plus-plus"]
	path = MTB-plus-plus
	url = https://github.com/M-Serajian/MTB-plus-plus.git
[submodule "PatricBrowserTools"]
	path = PatricBrowserTools
	url = https://github.com/M-Serajian/PatricBrowserTools.git
