[submodule "BV-BRC-BrowserTools"]
	path = BV-BRC-BrowserTools
	url = https://github.com/M-Serajian/BV-BRC-BrowserTools.git
[submodule "MTB-Pipeline"]
	path = MTB-Pipeline
	url = https://github.com/M-Serajian/MTB-Pipeline.git
